body{
    background-image: url("assets/hout.jpg");
}

#chess table, th, td{
    border:1px solid black;
    background-color: white;
}

#chess{
    border: 2px solid #5F021F;
    border-collapse: collapse;
    float: left;
}

#chess td{
    text-align: center;
}

#chess td{
    width: 80px;
    height: 80px;
}

#chess tr:nth-child(odd) td:nth-child(odd) {
    background-image: url("assets/witte-marmer.jpg");
}

#chess tr:nth-child(even) td:nth-child(even) {
    background-image: url("assets/witte-marmer.jpg");
}

#chess tr:nth-child(odd) td:nth-child(even) {
    background-image: url("assets/zwarte-marmer.jpg");
}

#chess :nth-child(even) td:nth-child(odd) {
    background-image: url("assets/zwarte-marmer.jpg");
}

#info{
    float: right;
    font-family: "Berlin Sans FB": Serif;
    width: 40%;
}
#info tr{
    background-image: url("assets/witte-marmer.jpg") !important;
}
