body {
    background-image: url("assets/hout.jpg");
}

#chess table, th, td {
    border: 1px solid black;
    background-color: white;
}

#chess {
    border: 6px solid #5F021F;
    border-collapse: collapse;
    float: left;
}

#chess td {
    text-align: center;
}

#chess td {
    width: 100px;
    height: 100px;
}

#chess tr:nth-child(odd) td:nth-child(odd) {
    background-image: url("assets/witte-marmer.jpg");
}

#chess tr:nth-child(even) td:nth-child(even) {
    background-image: url("assets/witte-marmer.jpg");
}

#chess tr:nth-child(odd) td:nth-child(even) {
    background-image: url("assets/zwarte-marmer.jpg");
}

#chess :nth-child(even) td:nth-child(odd) {
    background-image: url("assets/zwarte-marmer.jpg");
}

#info td {
    background-image: url("assets/witte-marmer.jpg");
    border: 6px solid #5F021F;
    height: 600px;
    vertical-align: top;
    font-size: 25px;
    word-spacing: 5px;
    padding: 10px;
}

#info{
    float: right;
    width: 600px;
}
